<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'el_ihead.html' %}
</head>
<body>
<div id="root" ></div>
<div class="container">
    <div class="" style="height:270px; ">
        <div>
            {% if arr["photos"][0]|length>0 %}<span style="cursor:pointer" class="photogallery"><img src='/palomnichestvo/img/{{arr["photos"][0].thumb}}'
                                                                              data-id="{{arr['photos'][0]['id']}}" galn="{{arr['photos'][0]['gallery']}}"
                                                                              class="pull-right hidden-xs " vspace=35 hspace=25
                 height="200"/></span>{% endif %}
            {% if arr["photos"][1]|length>0 %}<span style="cursor:pointer" class="photogallery"><img src='/palomnichestvo/img/{{arr["photos"][1].thumb}}' class="pull-right hidden-xs hidden-sm hidden-md"  vspace=35 hspace=25  data-id="{{arr['photos'][1]['id']}}" galn="{{arr['photos'][1]['gallery']}}" height="200"/></span>{% endif %}
        </div>
        <div style="padding-top:20px"></div>
        <h1 style="color:#fc6c21;text-align:left">{{arr["turdata"].title }}</h1>
        <div style="text-align:left" class="lead">{{arr["turdata"].main_descr }}</div>
        <div style="text-align:left;font-weight:900;color:#5ba707"><h2>{{ tprice }}</h2></div>
        <div style="text-align:left"><a class="btn btn-lg btn-primary order"  id='{{arr["turdata"].id}}' href="#"    role="button">Присоединиться!</a>
        </div>
        <!--        <p class="lead">Даты выездов: {{arr["dateline"] }}</p>-->
    </div>
</div>


<div class="container.fluid" >
    <nav class="navbar navbar-default"  data-spy="affix" data-offset-top="380" id="top_nav">
        <div class="container" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav col-sm-12 col-md-12">
                    <li class="menu1" >{% include "el_menuall.inc.html" %}
                    </li>
                    <li class="hidden-xs hidden-md hidden-sm">
                        <div class="menudel"></div>
                    </li>
                    <li><a class="menup"  style="width: 120px;" href="#top">О поездке</a></li>
                    <li class="hidden-xs hidden-md hidden-sm">
                        <div class="menudel"></div>
                    </li>
                    <li><a class="menup hidden-xs hidden-md hidden-sm"  style="width: 120px;" href="#usl">Условия</a></li>
                    <li class="hidden-xs hidden-md hidden-sm">
                        <div class="menudel"></div>
                    </li>
                    {%  if arr[1]|length>3 %}
                    <li class="hidden-md hidden-sm"><a  class="menup" href="#p1">Места</a>
                    </li>
                    <li class="hidden-xs hidden-md hidden-sm">
                        <div class="menudel"></div>
                    </li>{%  endif %}
{%  if arr[2]|length>3 %}
                    <li class="hidden-md hidden-sm"><a  style="width:150px" class="menup" href="#p2">Монастыри</a>
                    </li>
                    <li class="hidden-xs hidden-md hidden-sm">
                        <div class="menudel"></div>
                    </li>
                    {%  endif %}
                    {%  if arr[7]|length>3 %}
                    <li class="hidden-md hidden-sm"><a class="menup" href="#p7">Святыни</a>
                    </li>

                    <li class="hidden-xs hidden-md hidden-sm">
                        <div class="menudel"></div>
                    </li>{%  endif %}

                    <!--
                     <li class="hidden-md hidden-sm"><a class="menup" style="width:70px; " href="#photos">Фото</a></li>
                     <li class="hidden-xs hidden-md hidden-sm">
                         <div class="menudel"></div>
                     </li>

                     <li class="hidden-md hidden-sm"><a style="width:130px; " class="menup" href="#instructions">Подготовка</a>
                     </li>
                     <li class="hidden-md hidden-sm hidden-xs">
                         <div class="menudel"></div>
                     </li>

                     <li class="hidden-md hidden-sm"><a style="width:120px; " class="menup"
                                                        href="#otzivi">Впечатления</a></li>
                     <li class="hidden-md hidden-sm hidden-xs">
                         <div class="menudel"></div>
                     </li>-->
                    <li class="active"><a class="menup order" style="width:95px"   href="#" id="{{arr["turdata"].id}}" >Заказ</a></li>

                    <li class="menup navbar-right" style="width:200px">
                        <!--<a id="dLabel2" role="button" data-toggle="collapse" aria-controls="collapseExample"
                           aria-haspopup="true" aria-expanded="false" href="#collapseExample" id="toursearch">-->
                        <form class="form-horizontal" action="/palomnichestvo/search/" style="height:40px;padding-top:10px;padding-left:10px">
                            <div class="form-group form-group-sm">
                                <label class="col-sm-2" for="searchf" style="padding-top:3px;padding-right:5px"><img
                                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABe0lEQVQ4jaWUPUhcQRCAvzsvicIF0hlB0EpBEKJctEhlIhbaaJEu+NOKRar0tjEQQlBEBVttYkggQgioYCekETSIcnhgZaXYHl+K23e8PN/BOzIw7M7OzMewO7M5lYRMANPAEJAHBG6BXWAZqCQTAFAjbVf31B/qqPog4ZtXz9V3ai7mQ62Dnqpn6nSwS+qS+iGRUFS/qp/TQDn1QH2jPlTX1SN1Vu1LJoRKf4X4f0BT6vdwsKauqi0pgLh2qxfqozhoR32lDqi/M0Ai3VLHIzsPlIB94DWwBlRTX+W+/AReREY+rFXgGjjMCAG4AtojowC0hP3HJiAAT4CbeEUVoLdJCMBz4DQO+gLMNAlpBaaAb/UT9bFaVnsyvhbqovoprbPH1BO1KwPkbYgtpoFQJ0Nlc2ohBdChbqjHIa6/ESjq2E21om6r79UVdd/aLC6EEXmpXsZhOe9/IwBtwCDQCdwBZeAkETMCrIdLP856uY102NrX8ux/QRHsz19ayJDpFeZOCAAAAABJRU5ErkJggg=="
                                    />
                                </label>
                                <div class="dropdown dropdown-toggle" style="float:right; padding-left:-50px"  data-toggle="dropdown"
                                     aria-haspopup="true" id="toprt"
                                >
                                    <!--  </a>--><input type="search" name="searchf" class="form-control col-md-6" id="searchf"
                                                        placeholder="найти поездку"/>
                                </div><ul class="dropdown-menu" id="searchresultzone" aria-labelledby="dLabel6">

                                    <span>&nbsp;Пока ничего не найдено</span>
                                </ul>

                            </div>
                        </form>
                    </li>


                </ul><!--
                -->

            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</div>
<a name="top"></a>
<div class="container">
    <div class="row">
        <div class="container" style="z-index:1">
            <div class="background-primary" style="z-index:1"><span
                    class="bestdir lh38">О поездке</span></div>
            <div>{{arr["turdata"].description|raw}}</div><Br />
        </div>
    </div>
</div>


{%  if  arr["turdata"].program|length>0 %}
    <div class="container" style="z-index:1">
        <div class="background-primary" style="z-index:1"><span
                    class="bestdir lh38">Программа</span></div>
        <div><pre style="background:white">{{arr["turdata"].program|raw}}</pre></div>

    </div>
{%  endif %}

{%  if  arr["turdata"].include|length>0 %}
    <div class="container" style="z-index:1">
        <a name="usl"></a>
        <div class="background-primary" style="z-index:1"><span
                    class="bestdir lh38">Условия</span></div>
        <div>{{arr["turdata"].include|raw}}</div><Br />
    </div>
{%  endif %}

<div class="container"><button class="order btn btn-primary btn-lg" id="{{arr["turdata"].id}}">Присоединиться</button></div>

{% if (arr is not empty)  %}



    <div class="container">


    {% for sline in arr %}
            {% if sline|length>0 and sline.title!="" and sline[0]!="" %}
<div class="container">
    <div class="row">
            <div class="col-md-12"><a name="p{{ sline.id }}" ></a><span class="bestdir lh38">{{sline.title}}</span>
        </div>
    </div>
            {% set a=0 %}{%  set opened=true %}
    <div class="row">
        {% for aline in sline %}
        {% if aline.id>0 %}
        {% set a=a+1 %}{% if a==4 %} {% set a=1 %}<div class="row">{% set opened=true %}{% endif %}
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 noa">{% if aline.type==7 and aline.elitsy_url!="" %}


            {%  else %}
                    <div class="thumbnail" >
                        <div class="caption">
                            <!--<div class="row">
                                <span class="p15"><img src="/palomnichestvo/imgi/{{sline.flagurl}}" vspace="2"/> <span class="lh22center">{{sline.countryname}}</span></span>
                            </div>-->
                            <div class="row text-center" ><h3 style="padding-left:20px; padding-right:20px">{{aline.name}}</h3></div>

                        </div>
                        <a href="/palomnichestvo/{{sline.prefix}}/{{aline.tname}}">
                            <img style="min-height:250px" src="/palomnichestvo/img/{{aline.pname}}" class="img-responsive  " alt="...">
                            {% if aline.descr|length>0 %}
                            <div class="gdesc"></div>
                            <div class="gdesc2">{{aline.descr|raw}}</div>
                            {% else %}
                            <div style="padding-bottom:20px"></div>
                            {% endif %}
                        </a>
                        <div  class="text-center row" style="padding-bottom:20px"><a href="/palomnichestvo/{{sline.prefix}}/{{aline.tname}}"
                                                                                     role="button"
                                                                                     class="btn btn-info">Подробнее</a></div>
                    </div>{%  endif %}
                </div>
            {% if a==3%}</div>{% set opened=false %}{% endif %}
                {% endif %}
        {% endfor %}
                {% if opened%} </div>{%  set opened=false %}{%endif %}

    </div>

{% endif %}</div>
        {% endfor %}

        </div></div>
    </div></div>
    {% endif %}
<div class="container">
<a name="photos"></a>

        <div class="background-primary" style="z-index:1"><span
                    class="bestdir lh38">Фото</span></div>

        {% for aline in arr["photos"] %}
        <div class="photogallery col-md-3" style="cursor:pointer">
                <img vspace="10" class="img-responsive" galn="{{aline.gallery}}" data-id="{{aline.id}}" src="/palomnichestvo/img/{{aline.thumb}}"/>
        </div>
            {% endfor %}

</div>

    {% if arr["dates"] is not empty %}
<div class="container">
    <div class="row"><br /></div>

    <A name="instructions"></A>
    <div class="row">
        <div class="container">
            <div class="background-primary" style="z-index:1"><span
                    class="bestdir lh38">Даты отправлений</span></div>
        </div>
    </div>
    <ul class="list-group">
{%  for llline in arr["dates"] %}
    <span class="list-group-item"> {{llline.date}} {% if llline.comment|length>0 %}-{{llline.comment}}{% endif %}  {%  if llline.elevent!=0 %}<button type="button"  class="btn btn-default" ><a href="https://elitsy.ru/events/{{ llline.elevent }}/">Перейти в группу мероприятия</a></button>{%  endif %}</span></li>
        {% endfor %}
    </ul>


    {% endif %}
</div>
    {% if arr["turdata"].video_tmp|length>0 %}
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ arr["turdata"].video_tmp }}" frameborder="0" allowfullscreen></iframe>

    {% endif %}

    {% if arr["instructions"] is not empty %}
<!--
        <A name="instructions"></A>
    <div class="row">
        <div class="container">
            <div class="background-primary" style="z-index:1"><span
                    class="bestdir lh38">Подготовка</span></div>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item">{{arr["instructions"]}}</li>
    </ul>-->
    {% endif %}


    {% if arr["otzivi"] is not empty %}
        <!--
    <A name="otzivi"></A>
    <div class="row">
        <div class="container" >
            <div class="background-primary" style="z-index:1"><span
                    class="bestdir lh38">Впечатления</span></div>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item">{{arr["otzivi"]}}</li>
    </ul>-->
    {% endif %}



</div>

    {% include 'el_bodybottom.html' %}


</body>
</html>